@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Rock+3D&display=swap');
:root {
  --white: hsl(3, 4%, 98%);
  --black: hsl(3, 4%, 4%);
  --gray: hsl(3, 4%, 88%);
  --red: hsl(0deg 76% 48%);
  --purple: hsl(277deg 91% 49%);
  --purple-light: hsl(277deg 91% 88%);
  --purple-dark: hsl(277deg 85% 38%);
  --font: 'Nunito', -apple-system, "Segoe UI", Helvetica Neue, Helvetica,
  Roboto, Arial, sans-serif, system-ui, "Apple Color Emoji",
  "Segoe UI Emoji";
  --font-alt: 'Rock 3D', cursive;
  --max-width: 65rem;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--white);
  color: var(--black);
}

body {
  font-family: var(--font);
  min-height: 100vh;
  min-height: calc(100vh - env(safe-area-inset-bottom));
  display: flex;
  flex-flow: column;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

.container {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}

.error {
  padding: 1rem;
  background: var(--red);
  color: var(--white);
  border-radius: 1rem;
}

.error a {
  color: inherit;
  font-weight: bold;
}
