.jokesPage {
  flex: 1;
}

.JokeListWrapper,
.JokeList {
  display: flex;
  flex-flow: column;
}

.JokeListWrapper {
  flex: 0 20rem;
}

.Title {
  margin: 0 0 1rem;
  font-size: 1rem;
}

.JokeList {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
}


.Content .container {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.Nav {
  padding: 1rem;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  background: var(--gray);
}

.Nav a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.UserControls {
  flex: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.UserControls .button {
  font-size: 0.8rem;
}

@media screen and (min-width: 60rem) {
  .jokesPage {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-auto-rows: auto;
  }

  .Content {
    height: 100vh;
    overflow-y: auto;
  }

  .Nav {
    flex-flow: row;
    writing-mode: vertical-lr;
  }
}
