.registerPage {
  padding: 2rem;
}

.registerPage h1 {
  margin: 0 0 1rem;
  font-family: var(--font-alt);
}

.form {
  max-width: 30rem;
  padding: 1rem;
  border: 1px solid var(--gray);
  border-radius: 0.3em;
}
